{% load static %}

<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link href = "{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>
  <div id="header">
    <span class="logo"><b>TIMETABLE GENERATOR</b></span>
    {% if request.user.is_authenticated %}
    <ul class="menu">

    </ul>
  {% endif %}

  </div>

  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li class="{{ message.tags }}">
          {{ message|safe }}
            <a href="#" class="close">x</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  <div id="content">
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>