<html>
<head>
    <title>TTGS | Terms & Conditions</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/carousel/">
    <script src="render.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>
    <script type="text/javascript" language="JavaScript">
    window.onload = function () {
    document.getElementById("download")
        .addEventListener("click", () => {
            const invoice = this.document.getElementById("timetable");
            console.log(invoice);
            console.log(window);
            var opt = {
                margin: 1,
                filename: 'Timetable.pdf',
                image: { type: 'jpeg', quality: 0.98 },
                html2canvas: { scale: 2 },
                jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
            };
            html2pdf().from(invoice).set(opt).save();
        })
}</script>
</head>
<body>

    <form id="form1">
        <div id="timetable">
        <div style="text-align:center;"><h3>Terms & Conditions</h3></div><br />
        <div class="container themed-container">
            TTGS reserves all the rights to &copy;TTGS proprietary Software to Generate Timetables.
            Any infringement on the proprietary Software will be deemed as breaking the law under the "RIGHT TO INTELLECTUAL PROPERTY" Act.
        </div>
        </div>
    </form>
</body>
</html>
